
.favorites-container, .featured-container, .section-container {
    padding: 20px;
    margin-bottom: 20px;
}

.navbar {
    border-bottom: 1px solid #b89360;
}
h4 {
    margin-bottom: 15px;
}

body {
    background-color: #f4f4f4 !important;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 99999;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%black'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>")
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%black'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>")
}
.carousel-indicators [data-bs-target] { 
    background-color: #1e1e1e;
}
.carousel-item .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #f4f4f4, transparent);
    pointer-events: none;
}
.card-principal {
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card-principal h4 {
    border-bottom: 1px solid #b89360;
    margin-bottom: 40px;
}
.favorites, .featured, .section {
    display: flex;
    overflow-x: auto;
}

.favorite-item, .featured-item, .section-item {
    flex: 0 0 auto;
    margin-right: 15px;
    text-align: center;
}

.favorite-item img{
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorite-item span, .section-item span {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}

.featured-item img {
    border-radius: 10px;
    height: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #b89360;
    text-align: left;
}

thead {
    background-color: #f4f4f4;
}

th {
    background-color: #b89360;
    color: #fff;
}

form {
    margin: 20px 0;
    border: 1px solid #b89360;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #b89360;
    border-radius: 4px;
}

.button-xvdreams {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #b89360;
    cursor: pointer;
    font-size: 16px;
}

.button-xvdreams button:hover{
    background-color: #a07a50;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#productList .col {
    margin-bottom: 20px;
}

.page-publications-header {
    margin-bottom: 40px; 
}

.unique-margin {
    margin-bottom: 30px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.todo-item.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

.todo-actions {
    display: flex;
    gap: 10px;
}

.priority-Alta {
    color: red;
    font-weight: bold;
}

.priority-Media {
    color: orange;
    font-weight: bold;
}

.priority-Baja {
    color: green;
    font-weight: bold;
}
