
.favorites-container, .featured-container, .section-container {
    padding: 20px;
    margin-bottom: 20px;
}

.navbar {
    border-bottom: 1px solid #b89360;
}
h4 {
    margin-bottom: 15px;
}

body {
    background-color: #f4f4f4 !important;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 99999;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%black'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>")
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%black'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>")
}
    .carousel-indicators [data-bs-target] { 
        background-color: #1e1e1e;
    }
.card-principal {
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card-principal h4 {
    border-bottom: 1px solid #b89360;
    margin-bottom: 40px;
}
.favorites, .featured, .section {
    display: flex;
    overflow-x: auto;
}

.favorite-item, .featured-item, .section-item {
    flex: 0 0 auto;
    margin-right: 15px;
    text-align: center;
}

.favorite-item img{
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorite-item span, .section-item span {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}

.featured-item img {
    border-radius: 10px;
    height: 150px;
}

/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Quita el espacio entre bordes */
    margin: 20px 0; /* Margen superior e inferior */
}

/* Estilo para las celdas de la tabla */
th, td {
    padding: 10px; /* Espaciado dentro de las celdas */
    border: 1px solid #b89360; /* Borde dorado */
    text-align: left; /* Alineación del texto */
}

/* Estilo para el encabezado de la tabla */
thead {
    background-color: #f4f4f4; /* Fondo gris claro para el encabezado */
}

th {
    background-color: #b89360; /* Fondo dorado para las cabeceras */
    color: #fff; /* Color del texto en las cabeceras */
}

/* Estilo para los botones */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #b89360; /* Fondo dorado para los botones */
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
}
/* Estilo del formulario */
form {
    margin: 20px 0; /* Margen superior e inferior */
    border: 1px solid #b89360; /* Borde dorado alrededor del formulario */
    padding: 20px; /* Espaciado dentro del formulario */
    border-radius: 8px; /* Bordes redondeados */
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #b89360;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #b89360;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a07a50;
}

/* Ajustar el tamaño de las imágenes dentro de las cards */
.card-img-top {
    object-fit: cover;
    height: 200px; /* Limitar la altura de las imágenes para uniformidad */
}

/* Estilo opcional para las cards, puedes personalizar los bordes o sombras */
.card {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustar el espaciado de las cards */
#productList .col {
    margin-bottom: 20px;
}

.page-publications-header {
    margin-bottom: 40px; 
}

.unique-margin {
    margin-bottom: 30px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.todo-item.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

.todo-actions {
    display: flex;
    gap: 10px;
}

.priority-Alta {
    color: red;
    font-weight: bold;
}

.priority-Media {
    color: orange;
    font-weight: bold;
}

.priority-Baja {
    color: green;
    font-weight: bold;
}
