.header-navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    right: 0;
    display: flex;
    background-color: #ffeeef ;
}
.nav-navbar{
    margin: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-part-navbar{
    display: flex;
    gap: 15px;
}
.image-navbar{
    width: 70px;
    height: 70px;
}
.navbar-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 15px;
    align-items: center;
}
.navbar-list li button {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 450;
    color: #333;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.navbar-list li button i {
    color: #666;
}
.right-part-navbar{
    display: flex;
    gap: 0px;
    width: 30%;
}
.input-search{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid #c2c2c2;
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.search-btn{
    border: none;
    border: 1px solid #c2c2c2;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background-color: #fff;
    opacity: 1;
    color: #333;
}

.navbar-list{

}

.toggle-btn{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 20px 0 0;
    background-color: transparent;
    border: none;
    position: relative;
}
/* .toggle-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #333;
    margin: -10px;
    border-radius: 10px;
} */

.show-menu{
}

.line {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition:  .4s ;
    border-radius: 5px;

}

.show-menu .line1{
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    width: 125%;
}
.show-menu .line2 {
    transform: scale(0);
}

.show-menu .line3 {
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    width: 125%;
}